###### Arquivo de exemplo para configuração das variaveis de ambiente ######
URL= # Insira a URL do sistema
EMAIL= # Insira o e-mail de acesso do sistema
PASSWORD= # Insira a senha de acesso do sistema